* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:  Tahoma, sans-serif;
}

.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fullscreen-image {
  position: relative;
  height: calc(100vh - 40px);
  overflow: hidden; 
}

.fullscreen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ccc;
  gap:10px;
}
.title{
  height:30px;
  width:400px;
}
form {
  width: 400px;
  margin: 30px;
 
}

input[type="text"],
input[type="file"] {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 100%; 
  max-height: 80vh; 
  overflow-y: auto; 
}

.post-list1 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  width: 100%;
}

.post1 {
  flex-basis: calc(33.33% - 40px); 
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.post1 h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post1 p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.post1 {
  position: relative; 
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color:black; 
  cursor: pointer;
}

.delete-icon:hover {
  color: red; 
}
.p1{
  
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 5px 10px;
  border-radius: 5px;
}
